#navbar {
  width: 100%;
}

#navbar .nav {
  float: right;
  width: 50%;
  position: absolute;
  top: 50%;
  display: table-cell;
  vertical-align: middle;
}

#navbar li {
  float: right;
  margin: 10px;
  font-size: 16px;
  width: 25%;
  text-align: center;
  position: relative;
  top: -50%;
}

#logo {
  background-color: red;
  width: 35%;
  height: 100px;
  float: left;
}

/*#region Main content*/

/*#region Home*/

/*#region Carousel*/
#home .carousel {
    position: relative;
    height: 350px;
    width: 100%;
}

#home .carousel img {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#home .carousel .carousel-caption {
  position: absolute;
  top: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

#home .carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: white;
    border-color: white;
    opacity: .7;
}

#home .carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
/*#endregion Carousel */

/*#endregion Home*/

/*#endregion Main content*/
